<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :tournament, url: {action: :update, controller: :tournaments}, method: :put do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :nationality %>
      <%= f.select(:country, @name_nationality.map { |c| c }) %>
      <%= f.file_field :picture %>
      <%= f.submit "Update tournament", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
