<% provide :title, "League" %>
<%= render "admin/tournaments/banner" %>
<p><b>Search</b></p>
<%= search_form_for @q, url: admin_tournaments_path, method: :get do |f| %>
    <%= f.label :id, 'Id: ' %>
    <%= f.number_field :id_eq, id: "input-player" %>
    <%= f.label :name_cont, 'Name:' %>
    <%= f.text_field :name_cont, id: "input-player" %>
    <%= f.label :country, 'Country:' %>
    <%= f.text_field :country_cont, id: "input-player" %>
    <%= button_tag( :class => "button_green") do %>
      <i class="fa fa-search" aria-hidden="true"></i></i>
    <% end %>
<% end %>
<table class="table table-hover table-admin">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id, default_order: :desc) %></th>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :country) %></th>
      <th>Action</th>
    </tr>
  </thead>
  <% @tournaments.each do |tournament| %>
    <tr>
      <td>
        <%= tournament.id %>
      </td>
      <td>
        <%= tournament.name %>
      </td>
      <td>
        <%= tournament.country %>
      </td>
      <td>
        <%= link_to tournament_path(tournament) do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
        <% end %>
        <%= link_to edit_admin_tournament_path(tournament) do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_tournament_path(tournament), method: :delete, data: {confirm: "You sure?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
