<% provide :title, "League" %>
<h3 id="signup-form"><%= t("header.league") %></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :tournament, url: {action: :create, controller: :tournaments}, method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :nationality %>
      <%= f.select(:country, @name_nationality.map { |c| c }, {} , { class: "selectpicker", "data-live-search" => true,
        "data-live-search-style" => "startsWith" }) %>
      <%= f.file_field :picture %>
      <%= f.submit t("header.league"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
