<% provide(:title, @team.name) %>
<div class="container-fluid warp">
  <%= link_to "Livescore", root_path , id: "home" %>
  >>
  <%= link_to @team.name, @team , id: "name" %>
  <div class="container content">
    <div class="row grade">
      <div class="col-sm-8 tab-left">
        <div id="image">
          <%= link_to image_tag(@team.logo.url), @team , id: "image-player"%>
        <span id="name-player"><%= @team.name %></span>
        (<%= @team.country %>)
        </div>
        <div class="type-2">
          <div id="player-team">Players</div>
        </div>
      </div>
      <div class="col-sm-4 tab-right">
        BXH
      </div>
    </div>
  </div>
</div>
