<% provide(:title, @team.name) %>
<div class="container-fluid warp">
  <%= link_to "Livescore", root_path , id: "home" %>
  >>
  <%= link_to @team.name, @team , id: "name" %>
  <div class="container content">
    <div class="row grade">
      <div class="col-sm-8 tab-left">
        <div id="image">
          <%= link_to image_tag(@team.logo.url), @team , id: "image-player"%>
        <span id="name-player"><%= @team.name %></span>
        (<%= @team.country %>)
        </div>
        <div class="type-2">
          <div id="player-team">Players</div>
          <div id="box-list-player">
            <% @players.each do |player| %>
              <div id="from-player">
                <div id="image-player-2"><%= link_to image_tag(player.image.url), player %></div>
                <div id="name-player-2"><%= link_to player.name, player %></div>
                <div id="tab-bottom">
                  <span id="preferred_foot-player-2"><%= player.preferred_foot %></span>
                  <span id="nationality-player-2"><%= player.nationality %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <div id="player-team">Matchs</div>
      <div>
        <% @matchs.each do |matchs| %>
        <div class="col-sm-12">
          <div class="start-match">
            <h5 id="start-match"><%= matchs.start_match %></h5>
          </div>
          <div class="col-sm-6">
            <div class="img-team">
              <%= link_to image_tag(matchs.home_team.logo.url), matchs.home_team, id: "img-home-team" %>
              <i class="fa fa-window-minimize score-home" aria-hidden="true"></i>
            </div>
            <div>
              <h4 id="name-home-team"><%= link_to matchs.home_team.name, matchs.home_team %></h4>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-team">
              <i class="fa fa-window-minimize score-away" aria-hidden="true"></i>
              <%= link_to image_tag(matchs.away_team.logo.url), matchs.away_team, id: "img-home-team" %>
            </div>
            <div>
              <h4 id="name-away-team"><%= link_to matchs.away_team.name, matchs.away_team %></h4>
            </div>
          </div>
        </div>
      <% end %>
      </div>
      </div>
      <div class="col-sm-4 tab-right">
        BXH
      </div>
    </div>
  </div>
</div>
