<% provide :title, "Home" %>
<div class="container-main-home">
  <div class="row">
    <div class="col-sm-4 text-home-1">
      Football LiveScore
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1 Results">
      <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      <span id="results-stated"><%= link_to "Result", static_pages_match_started_path %></span>
      <span class="size-live">(<%= Match.started.size %>)</span>
    </div>
    <div class="col-sm-1 Live">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <span id="results-live"><%= link_to "Lives", static_pages_match_live_path %></span>
      <span>(<%= Match.live.size %>)</span>
    </div>
  </div>
  <div class="content-home">
    <div class="col-sm-4">
      <h5 id="text-find-match">Find the match</h5>
      <%= search_form_for @q, url: static_pages_match_started_path, method: :get do |f| %>
        <%= f.label :start_match, 'In day: ' %>
        <%= f.date_field(:start_match_date_equals, placeholder: t(:date_format), id: "input-inday") %>
        <%= button_tag( :class => "button_green") do %>
          <i class="fa fa-search" aria-hidden="true"></i></i>
        <% end %>
      <% end %>
      <hr>
      <h5 id="text-home-2">Featured league</h5>
      <div>
      <% @tournaments.each do |tournament| %>
      <ul class="list-team">
        <li>
          <%= link_to image_tag(tournament.picture.url), tournament, id: "img-home"%>
          <%= link_to tournament.name , tournament, id: "team-list-home-1" %>
        </li>
      </ul>
      <% end %>
      </div>
    </div>
    <div class="col-sm-4 main-match">
      <h4 id="match-featured">Started</h4>
      <% @match_starteds.each do |match_started| %>
        <div class="col-sm-12">
          <div class="start-match">
            <h5 id="start-match"><%= match_started.start_match %></h5>
          </div>
          <div class="col-sm-6">
            <div class="img-home-team">
              <%= link_to image_tag(match_started.home_team.logo.url), match_started.home_team, id: "img-home-team" %>
              <span><%= match_started.score_home %></span>
            </div>
            <div>
              <h4 id="name-home-team"><%= link_to match_started.home_team.name, match_started.home_team %></h4>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-away-team">
              <span><%= match_started.score_away %></span>
              <%= link_to image_tag(match_started.away_team.logo.url), match_started.away_team, id: "img-home-team" %>
            </div>
            <div>
              <h4 id="name-away-team"><%= link_to match_started.away_team.name, match_started.away_team %></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4 top-player-home">
      <div id="top-player">Top Players</div>
        <ul class="top_player">
          <% @top_players.each do |player| %>
            <li>
              <%= link_to image_tag(player.image.url), @player , id: "image-player"%>
              <span><%= link_to player.name, @player , id: "name-top-player" %></span>
              <span class="card bg-success text-white point">
                <span class="card-body point-2"><%= player.point %></span>
              </span>
            </li>
          <% end %>
          <%= will_paginate @top_players %>
        </ul>
      </div>
    </div>
  </div>
</div>
