<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :player, url: {action: :update, controller: :players}, method: :put do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :nationality %>
      <%= f.select(:nationality, @name_nationality.map { |c| c }) %>
      <br>
      <div class="form-group">
        <%= f.label :team_id %>
        <%= f.select :team_id, options_for_select(@teams.map{|key, value|
          [key, value]}), {include_blank: true}, {class: "chosen-select"} %>
      </div>
      <br>
      <%= f.label :avatar %>
      <%= f.file_field :image %>
      <%= f.label :diagram %>
      <%= f.file_field :diagram %>
      <%= f.label :height %>
      <%= f.number_field :height, :step => "0.01", class: "form-control" %>
      <%= f.label :weight %>
      <%= f.number_field :weight, :step => "0.01", class: "form-control" %>
      <%= f.label :point %>
      <%= f.number_field :point, :step => "0.01", class: "form-control" %>
      <%= f.label :age %>
      <%= f.number_field :age, class: "form-control" %>
      <%= f.label :shirt_number %>
      <%= f.number_field :shirt_number, class: "form-control" %>
      <%= f.label :strengths %>
      <%= f.text_field :strengths, class: "form-control" %>
      <%= f.label :weaknesses %>
      <%= f.text_field :weaknesses, class: "form-control" %>
      <%= f.label :preferred_foot %>
      <%= f.select(:preferred_foot, options_for_select(Player.preferred_foots.keys)) %>
      <%= f.submit "Update Player", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
