<% provide :title, "Player" %>
<h3 id="signup-form"><%= t("header.create_player") %></h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= form_for :player, url: {action: :create, controller: :players}, method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :nationality %>
      <%= f.select(:nationality, @name_nationality.map { |c| c }, {} , { class: "selectpicker", "data-live-search" => true,
        "data-live-search-style" => "startsWith" }) %>
      <br>
      <div class="form-group">
        <%= f.label :team_id %>
        <%= f.select :team_id, options_for_select(@teams.map{|key, value|
          [key, value]}),{} , { class: "selectpicker", "data-live-search" => true,
        "data-live-search-style" => "startsWith" } %>
      </div>
      <br>
      <%= f.label :avatar %>
      <%= f.file_field :image %>
      <%= f.label :diagram %>
      <%= f.file_field :diagram %>
      <%= f.label :height %>
      <%= f.number_field :height, :step => "0.01", placeholder: "cm", class: "form-control" %>
      <%= f.label :weight %>
      <%= f.number_field :weight, :step => "0.01", placeholder: "kg", class: "form-control" %>
      <%= f.label :player_value %>
      <%= f.number_field :value_money, placeholder: "Triệu USD", class: "form-control" %>
      <%= f.label :day_of_birth %>
      <%= f.date_field :dob, class: "form-control" %>
      <%= f.label :shirt_number %>
      <%= f.number_field :shirt_number, class: "form-control" %>
      <%= f.label :strengths %>
      <%= f.text_field :strengths, class: "form-control" %>
      <%= f.label :weaknesses %>
      <%= f.text_field :weaknesses, class: "form-control" %>
      <%= f.label :preferred_foot %>
      <%= f.select(:preferred_foot, options_for_select(Player.preferred_foots.keys)) %>
      <%= f.submit t("header.create_player"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
