<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>
<h3 id="signup-form">Update User</h3>
<div class="row">
  <div class="col-md-6 col-md-offset-3-edit-user">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
    <%= f.label :avata %>
    <%= f.file_field :image %>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
