<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container-admin">
  <div class="col-md-12 text-center">
  </div>
  <div>
   <%= form_for :session, url: { controller: :sessions, action: :create } do |f| %>
     <div class="imgcontainer">
      <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX25066784.jpg" alt="Avatar" class="avatar">
      </div>
     <div id="text-admin-1">
     <%= f.label :email %>
     </div>
      <%= f.email_field :email, class: "form-1" %>
     <div id="text-admin-1">

     <%= f.label :password %>
     </div>
     <div>

     <%= f.password_field :password, class: "form-1" %>
     </div>
     <%= f.submit "Log in", class: "btn btn-primary login-admin" %>
   <% end %>
  </div>
</div>
</body>
</html>
