<% provide(:title, t("author.index.author")) %>
<div id="text-show-1">
  <li><%= link_to t("author.index.home"), root_path %></li>
</div>
<div id="text-show-2">
  <h6> &nbsp>>&nbsp<%= t("order.show.purchase_history") %></h6>
</div>
<hr>
<hr>
<div id="text-index-3">
  <h4><b><%= t("order.show.purchase_history") %></b></h4>
</div>
<hr>
<table class="table-author" border="2">
  <tr id="th-table">
    <th><%= t("order.index.name") %></th>
    <th><%= t("order.index.name_book") %></th>
    <th><%= t("order.index.address") %></th>
    <th>Email</th>
    <th><%= t("order.index.pay_type") %></th>
    <th><%= t("order.index.status") %></th>
    <% if current_user&.admin? %>
      <th>Admin</th>
    <% end %>
  </tr>
  <% @orders_active.each do |order| %>
    <tr>
      <td id="th-table-1"><%= order.name %></td>
      <% @cart.each do |item| %>
        <td id="th-table-1"><%= item.book.name %></td>
      <% end %>
      <td id="th-table-2"><%= order.address %></td>
      <td id="th-table-2"><%= order.email %></td>
      <td id="th-table-2"><%= order.pay_type %></td>
      <td id="th-table-2"><%= order.status %></td>
      <% if current_user&.admin? %>
        <td id="th-table-2"><%= link_to t("order.index.cartonfirm_delivered"), orders_active_path(order_id: order.id) %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
