<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :type %>
      <%= f.select :type_book, Book::TYPE_BOOK.map { |c| c } %>
      <br>
      <%= f.label :describe %>
      <%= f.text_field :describe, class: "form-control" %>
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
      <span class="picture">
        <%= f.file_field :image %>
      </span>
      <%= f.submit "Update my book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
