<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <span class="brand-text font-weight-light">
      <%= link_to "Admin Home", admin_path, id: "admin-home" %>
    </span>
  </a>
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 652px;"><div class="sidebar" style="min-height: 652px; overflow: hidden; width: auto; height: 652px;">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="http://placehold.it/160x160" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">User Name</a>
      </div>
    </div>
<!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Activity
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <span>
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <p><%= link_to "User", admin_users_path , id: "user-admin-ph" %></p>
              </span>
            </li>
            <li class="nav-item">
              <span class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p><%= link_to "Player", admin_players_path , id: "user-admin-ph" %></p>
              </span>
            </li>
                        <li class="nav-item">
              <span class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p><%= link_to "Team", admin_teams_path , id: "user-admin-ph" %></p>
              </span>
            </li>
                        <li class="nav-item">
              <span class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p><%= link_to "League", admin_tournaments_path , id: "user-admin-ph" %></p>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>