<div class="row1">
  <div class="col-md-61 col-md-offset-3">
  <h1><%= t("book.new.book") %></h1>
    <%= form_for @book do |f| %>
      <%= f.label :name, t("show.name") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :type, t("book.new.type") %>
      <%= f.select :type_book, Book::TYPE_BOOK.map { |c| c } %>
      <br>
      <%= f.label :describe, t("book.new.describe") %>
      <%= f.text_field :describe, class: "form-control" %>
      <%= f.label :price, t("book.new.price") %>
      <%= f.number_field :price, class: "form-control" %>
      <span class="picture">
        <%= f.file_field :image %>
      </span>
  <h1><%= t("book.new.author") %></h1>
    <div class="form-group">
      <%= f.select :author_ids, options_for_select(@authors.map{|key, value|
      [key, value]}), {include_blank: true}, {class: "chosen-select", multiple: "true"} %>
    </div>
  <h1><%= t("book.new.publisher") %></h1>
    <div class="form-group">
      <%= f.select :publisher_ids, options_for_select(@publishers.map{|key, value|
      [key, value]}), {include_blank: true}, {class: "chosen-select", multiple: "true"} %>
    </div>
    <%= f.submit t("header.create_book"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
