<hr>
<div>
  <%= t "layout.footer.about_&_terms_of_service" %>
  <li><%= link_to t("layout.footer.posting_instructions"), '#' %></li>
  <li><%= link_to t("layout.footer.standard_spelling_when_writing"), '#' %></li>
  <li><%= link_to t("layout.footer.tutorial_pay"), '#' %></li>
  <li><%= link_to t("layout.footer.contact"), '#' %></li>
  <a href="https://www.facebook.com/nghia.chelsea.1" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSEWqdB79RiGoEnOufrKi-kTs3PpnVlL-lC0xRTf1oAssJOR8B5&usqp=CAU" width="50" height="30" /></a>
</div>
<%= link_to "English", locale:"en" %>
<%= link_to "Vietnamese", locale:"vi" %>
