oo<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 tab-1"></div>
    <div class="col-sm-5 tab-2">
      <p id="text-1">About</p><br>
      <p id="text-2">
        <%= t("layout.footer.preface") %>
        <br>
        <%= t("layout.footer.introduce") %>
      </p>
      <hr id="hr-1">
      <p id="text-2">© 2020 LiveScore - All Rights Reserved.  Privacy & cookie policy  Corporate  Advertising  Media Partnerships  Careers  Brand Resources  SofaScore LiveScore App ›</p>
    </div>
    <div class="col-sm-5 tab-3">
      <p id="text-1">Top live scores and streaming</p>
      <br>
      <table>
        <tr>
          <td id="td-1"><%= link_to "Chelsea - Premier League", "#", id: "text-5" %></td>
          <td><%= link_to "Bayern München - Bundesliga", "#", id: "text-5" %></td>
          </tr>
        <tr>
          <td><%= link_to "Juventus - Serie A", "#", id: "text-5" %></td>
          <td><%= link_to "Liverpool - Premier League", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Manchester UTD - Premier League", "#", id: "text-5" %></td>
          <td><%= link_to "Sevilla - LaLiga", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Barcelona live", "#", id: "text-5" %></td>
          <td><%= link_to "Real Madrid live", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Manchester UTD live", "#", id: "text-5" %></td>
          <td><%= link_to "Chelsea live", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Arsenal live", "#", id: "text-5" %></td>
          <td><%= link_to "PSG live", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Bayern live", "#", id: "text-5" %></td>
          <td><%= link_to "Liverpool live", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Tottenham - Premier League", "#", id: "text-5" %></td>
          <td><%= link_to "Leicester City - Premier League", "#", id: "text-5" %></td>
        </tr>
        <tr>
          <td><%= link_to "Everton - Premier League", "#", id: "text-5" %></td>
          <td><%= link_to "Sevilla - LaLiga", "#", id: "text-5" %></td>
        </tr>
      </table>
      <hr id="hr-2">
        <%= link_to "English", locale:"en" %> |
        <%= link_to "Vietnamese", locale:"vi" %>
    </div>
    <div class="col-sm-1 tab-4"></div>
  </div>
</div>
