<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LMSBook", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Đăng Kí", "#" %></li>
        <li><%= link_to "Đăng Nhập", "#" %></li>
      </ul>
    </nav>
  </div>

  <div id="menu">
    <ul>
      <li><%= link_to "Trang Chủ", "#" %></li>
      <li><%= link_to "Thư VIện", "#" %>
        <ul class="sub-menu">
          <li><%= link_to "Văn Học", "#" %></li>
          <li><%= link_to "TEEN", "#" %></li>
          <li><%= link_to "Tiểu Thuyết", "#" %></li>
          <li><%= link_to "Kỳ Ảo", "#" %></li>
          <li><%= link_to "Kinh Dị", "#" %></li>
          <li><%= link_to "Trinh Thám", "#" %></li>
          <li><%= link_to "Lịch Sử", "#" %></li>
          <li><%= link_to "Kinh Tế", "#" %></li>
          <li><%= link_to "Văn Hóa", "#" %></li>
          <li><%= link_to "Khoa Học", "#" %></li>
          <li><%= link_to "Tâm Lí", "#" %></li>
          <li><%= link_to "Kĩ Năng Sống", "#" %></li>
        </ul>
      </li>
      <li><%= link_to "Tác Giả", "#" %>
        <ul class="sub-menu">
          <li><%= link_to "Truyện Ngắn", "#" %></li>
          <li><%= link_to "Truyện Dài", "#" %></li>
        </ul>
      </li>
      <li><%= link_to "Nhà Xuất Bản", "#" %>
          <ul class="sub-menu">
          <li><%= link_to "Trong Nước", "#" %></li>
          <li><%= link_to "Nước Ngoài", "#" %></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
