<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LMSBook", "http://localhost:3000", id: "logo" %>
    <nav>
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("header.logout"), destroy_user_session_path %></li>
      </ul>
      <% else %>
        <ul class= "nav navbar-nav navbar-right">
        <li><%= link_to t("header.login"), new_user_session_path %></li>
        <li><%= link_to t("header.signup"), new_user_registration_path %></li>
        </ul>
        <% end %>
    </nav>
  </div>

  <div id="menu">
    <ul>
      <li><%= link_to t("header.home"), "http://localhost:3000" %></li>
      <li><%= link_to t("header.library"), "#" %>
        <ul class="sub-menu">
          <li><%= link_to t("header.literary"), "#" %></li>
          <li><%= link_to "TEEN", "#" %></li>
          <li><%= link_to t("header.novel"), "#" %></li>
          <li><%= link_to t("header.dreamy"), "#" %></li>
          <li><%= link_to t("header.horror"), "#" %></li>
          <li><%= link_to t("header.mystery"), "#" %></li>
          <li><%= link_to t("header.history"), "#" %></li>
          <li><%= link_to t("header.economy"), "#" %></li>
          <li><%= link_to t("header.cultural"), "#" %></li>
          <li><%= link_to t("header.science"), "#" %></li>
          <li><%= link_to t("header.psychological"), "#" %></li>
          <li><%= link_to t("header.life skills"), "#" %></li>
        </ul>
      </li>
      <li><%= link_to t("header.author"), "#" %>
        <ul class="sub-menu">
          <li><%= link_to t("header.short story"), "#" %></li>
          <li><%= link_to t("header.long story"), "#" %></li>
        </ul>
      </li>
      <li><%= link_to t("header.publisher"), "#" %>
          <ul class="sub-menu">
          <li><%= link_to t("header.domestic"), "#" %></li>
          <li><%= link_to t("header.foreign"), "#" %></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
