<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Admin</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6d90f39943.js"></script>
  </head>
  <body class="sidebar-mini">
    <div class="wrapper">
      <%= render partial: "admin/base/header" %> <%= render partial:
      "admin/base/sidebar" %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <%= render partial: "admin/base/footer" %>
    </div>
  </body>
</html>
